DB_USER=root
DB_NAME=chatApp
DB_PASSWORD=Nishant@12
DB_HOST=localhost
DB_PORT=3306
PORT=3000
JWT_SECRET_KEY= "chatapisecret"

# Cloudinary secret key
CLOUD_NAME= "hqllkcaq"
API_KEY="564215486127232"
API_SECRET="TenRGC0RXIrjwroaFJ8BlhCLuDA"

FRONTEND_URL="http://localhost:5173"