DB_USER=root
DB_NAME=chatApp
DB_PASSWORD=yourpassord
DB_HOST=localhost
DB_PORT=3306
PORT=3000
JWT_SECRET_KEY= "chatapisecret"

# Cloudinary secret key
CLOUD_NAME= "youcloudname"
API_KEY="yourapikay"
API_SECRET="yourapisecret"

FRONTEND_URL="http://localhost:5173"